*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --gradient: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

body{
    font-family: "Karla", sans-serif;
    
}
/* ---------------------------------------------------------------------- */

/* Header */

.header-image{
    height: 26px;
    width: 31px;
}

.header-wrapper{
    background: var(--gradient);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-heading{
    font-style: normal;
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.1em;
    margin-left: 8px;
}

.header-Course{
    margin-left: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

/* ---------------------------------------------------------------------------- */

/* Meme-main */

main{
    padding: 36px;
}

.form-wrapper{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input{
    text-indent: 5px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
}

.form--button{
    border-radius: 5px;
    grid-column: 1 / -1;
    cursor: pointer;
    background: var(--gradient);
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    

    color: #FFFFFF;
}

.img-wrapper{
    margin-top: 5px;
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
}

.meme--image{
    max-width: 100%;
}